body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 156px 0;
}


.header_inner_right_list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.header_inner_right_list_link {
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-decoration: none;
}

.coffee {
    position: relative;
    background-repeat: no-repeat;
    background-size: ;
    background-position: ;
    background-image: url("../images/coffee-back.png");
}

.coffee_inner {
    display: flex;
    align-items: center;
}

.coffee_inner_left {
    max-width: 464px;
    width: 100%;
}

.coffee_inner_left_title {
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    margin: 0 0 24px 0;
}

.coffee_inner_left_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    margin: 0 0 34px 0;
}

.coffee_inner_left_link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(10, 119, 95, 1);
    padding: 16px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    border-radius: 100px;
}

.coffee_inner_right {
  position: relative;
  background-image: url("./images/coffee-main.jpg");
  background-size: cover;
  background-position: center;
}

.coffee_inner_right_img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  z-index: 10;
}
