.every {
    position: relative;
    background-image: url("../images/every-back.svg");
    background-position: calc(50% + 5px) calc(50% - 105px);
    background-repeat: no-repeat;
    background-size: 1400px 703px;
    margin: 20px;
}

// .every_inner {
//     padding: 20px 0 80px 0;
// }

.every_box {
    padding: 50px 0 80px 0;
}

.every_box_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    margin: 0 10px 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
}

.every_box_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

.every_inner_box_list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.every_inner_box_list_item {
    max-width: 433px;
    width: 100%;
}

.box-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    padding: 0;
    margin: 28px 0 10px 0;
    color: rgba(51, 51, 51, 1);
}

.box-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    padding: 0;
    margin: 0;
}