footer {
    background-color: #E4C9A9FF;
}

.footer_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.footer_inner_center_list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

.footer_inner_center_list_item a {
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}



// .footer_inner_right a {
//     text-decoration: none;
//     padding: 0 30px 0 0;
// }

.logos {
    display: flex;
}

.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}

.instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: -webkit-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.youtube {
    background-color: #ff0000;
}

.twitter {
    background-color: #1da1f2;
}

.Btn:hover {
    width: 110px;
    transition-duration: 0.4s;
    border-radius: 30px;
}

.Btn:hover .text {
    opacity: 1;
    transition-duration: 0.4s;
}

.Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: 0.3s;
}

.text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: 0.4s;
}

.svgIcon {
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}