header {
    background-color: #E4C9A9FF;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 40px 0;
}

.header_inner_right_list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.header_inner_right_list_link {
    color: rgb(51, 51, 51);
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    text-decoration: none;
}