.map {
    background-color: rgb(11, 98, 11);
    margin: 0 20px 20px 20px;
}

.map_inner {
    padding: 50px 0 100px 0;
}

.map_inner_title {
    font-family: Roboto;
    font-weight: 700;
    font-style: Bold;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 ;
    color: rgba(255, 255, 255, 1);
}

.map_box {
    padding: 80px 0 0 0;
}

.map_box_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.map_box_list_item {
    max-width: 433px;
    width: 100%;
    background-color: rgba(248, 248, 242, 1);
    margin: 0;
    padding: 0;
    padding: 45px 55px 40px 20px;
}

.map_img {
    padding: 0 0 0 245px;
}

.map_box_list_item_title {
    font-family: Roboto;
    font-weight: 500;
    font-style: Medium;
    font-size: 40px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0px;
    font-variant: small-caps;
    color: rgba(51, 51, 51, 1);
    padding: 0;
    margin: 0 0 10px 0;
}

.map_box_list_item_text {
    max-width: 144px;
    width: 100%;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(51, 51, 51, 1);
    margin: 0;
}