.works {
    position: relative;
    background-position: calc(50% - 158px) calc(50% - 273px), calc(50% + 5px) calc(50% - 70px);
    background-image: url("../images/works-back-2.svg"), url("../images/works-back.png");
    background-repeat: no-repeat;
    background-size: 899px 10px, 1400px 826px;
    margin: 0 20px 50px 20px ;
}

.works_inner_title {
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    text-align: center;
    padding: 0;
    margin: 50px 0 80px 0;
    color: rgba(255, 255, 255, 1);
}

.works_inner_box_list {
    display: flex;
    align-items: center;
    list-style: none;
}

.works_inner_list_box_item {
    max-width: 966px;
    width: 100%;
}

.works_inner_list_box_item_box {
    max-width: 60px;
    height: 60px;
    border: 3px solid rgba(201, 155, 103, 1);
    background-color: white;
}

/* .works_inner_list_item span {
  max-width: 899px;
  height: 0;
  left: 85px;
  border: solid rgba(201, 155, 103, 1);
} */

.works_inner_box_2 {
    padding: 20px 0 60px 0;
}

.works_inner_box_2_list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    /* background-color: white; */
    padding: 20px 28px 20px 20px;
    margin: 0;
}

.works_inner_box_2_list_item {
    max-width: 433px;
    width: 100%;
    background-color: white;
}

.box-2-item {
    max-width: 433px;
    width: 100%;
}

.works-box {
    width: 65px;
    height: 75px;
}

.works-box span {
    font-weight: 400;
    font-size: 64px;
    line-height: 100%;
    color: rgba(51, 51, 51, 1);
    padding: 0;
    margin: 20px 20px 301px 348px;
}

.box-2-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: rgba(51, 51, 51, 1);
    padding: 0;
    margin: 45px 0 10px 0;
}

.box-2-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: rgba(51, 51, 51, 1);
    padding: 0;
    margin: 0 0 20px 0;
}

.works_inner_btn {
    padding: 16px 463px 120px 543px;
}

.works_inner_link a {
    border-radius: 100px;
    padding: 16px 24px;
    background-color: rgba(201, 155, 103, 1);
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}